<html>
<head>
<meta charset="UTF-8">
<link href="css/address.css" type="text/css" rel="stylesheet">
</head>
<body>
	<h1>Address</h1>
	<table border="1">
		<tr>
			<td>City</td>
			<td>Miskolc</td>
		</tr>
		<tr>
			<td>ZipCode</td>
			<td>3515</td>
		</tr>
		<tr>
			<td>Street</td>
			<td>Lorem Ipsum 12</td>
		</tr>
	</table>
	<p>
	<h1>Made by:</h1>
	<table border="1">
		<tr>
			<td>Name: </td>
			<td>Satan Adam</td>
		</tr>
		<tr>
			<td>Neptun code: </td>
			<td>CLJZFF</td>
		</tr>
	</table>
</body>
</html>